<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{25,56}}</string>
                <key>offset</key>
                <string>{1.5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,94},{25,56}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,159},{28,56}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,95},{28,56}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,166},{23,60}}</string>
                <key>offset</key>
                <string>{0.5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,94},{23,60}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,163},{24,57}}</string>
                <key>offset</key>
                <string>{0,2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,94},{24,57}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,159},{27,56}}</string>
                <key>offset</key>
                <string>{0.5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,96},{27,56}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,167},{27,60}}</string>
                <key>offset</key>
                <string>{1.5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,94},{27,60}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,55},{33,52}}</string>
                <key>offset</key>
                <string>{-1.5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,95},{33,52}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,51},{33,51}}</string>
                <key>offset</key>
                <string>{-1.5,2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,97},{33,51}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,161},{30,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,96},{30,56}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,54},{33,52}}</string>
                <key>offset</key>
                <string>{-3.5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,95},{33,52}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{30,51}}</string>
                <key>offset</key>
                <string>{-3,2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,97},{30,51}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,164},{33,57}}</string>
                <key>offset</key>
                <string>{-2.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,96},{33,57}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{41,50}}</string>
                <key>offset</key>
                <string>{-4.5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,98},{41,50}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{41,50}}</string>
                <key>offset</key>
                <string>{-3.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,100},{41,50}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{33,51}}</string>
                <key>offset</key>
                <string>{-1.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,99},{33,51}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,52},{42,51}}</string>
                <key>offset</key>
                <string>{-5,1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,98},{42,51}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,54},{40,51}}</string>
                <key>offset</key>
                <string>{-4,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,100},{40,51}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{37,52}}</string>
                <key>offset</key>
                <string>{-3.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,99},{37,52}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,105},{32,52}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,101},{32,52}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_4_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,105},{31,52}}</string>
                <key>offset</key>
                <string>{-2.5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,103},{31,52}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_4_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{29,48}}</string>
                <key>offset</key>
                <string>{-1.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,102},{29,48}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_4_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,108},{33,53}}</string>
                <key>offset</key>
                <string>{-2.5,-2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,101},{33,53}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_4_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,107},{30,52}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,103},{30,52}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_4_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,47}}</string>
                <key>offset</key>
                <string>{-1,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,102},{28,47}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,110},{25,54}}</string>
                <key>offset</key>
                <string>{-1.5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,102},{25,54}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,55},{28,53}}</string>
                <key>offset</key>
                <string>{-1,-5.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,104},{28,53}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{23,47}}</string>
                <key>offset</key>
                <string>{-0.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,103},{23,47}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,110},{23,55}}</string>
                <key>offset</key>
                <string>{-0.5,-3.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,101},{23,55}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_5_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,109},{26,53}}</string>
                <key>offset</key>
                <string>{-1,-5.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,104},{26,53}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>_5_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{27,47}}</string>
                <key>offset</key>
                <string>{-1.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,102},{27,47}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>person.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b8d526e285215e7cfc2f566128b55bf$</string>
            <key>textureFileName</key>
            <string>person.pvr.ccz</string>
        </dict>
    </dict>
</plist>
