<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,240},{98,226}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,375},{98,226}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,468},{110,220}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,383},{110,220}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{94,236}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,379},{94,236}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{92,226}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,377},{92,226}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,708},{104,222}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{451,384},{104,222}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,236}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,379},{106,236}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,212},{132,206}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,381},{132,206}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,412},{130,204}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,389},{130,204}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{122,224}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,385},{122,224}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,424},{134,206}}</string>
                <key>offset</key>
                <string>{-14,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,381},{134,206}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,412},{122,202}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,389},{122,202}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{128,228}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,385},{128,228}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{166,196}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,395},{166,196}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,200},{160,198}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,401},{160,198}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,400},{134,204}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,397},{134,204}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{166,202}}</string>
                <key>offset</key>
                <string>{-20,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,393},{166,202}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,206},{158,204}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,401},{158,204}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,214},{144,208}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,397},{144,208}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{130,208}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,405},{130,208}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_4_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{120,206}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,413},{120,206}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_4_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,616},{112,190}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,409},{112,190}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_4_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,666},{130,210}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,405},{130,210}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_4_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{122,210}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,411},{122,210}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_4_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,606},{114,190}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,407},{114,190}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,230},{98,218}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,407},{98,218}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,690},{110,214}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,415},{110,214}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,210},{94,188}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{451,413},{94,188}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{92,216}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,407},{92,216}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_5_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,450},{104,214}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,415},{104,214}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>_5_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,808},{106,188}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,409},{106,188}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>person-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49dc3ce38a1fa54f13f4fb2ed633c5f1$</string>
            <key>textureFileName</key>
            <string>person-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
