<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1444},{162,184}}</string>
                <key>offset</key>
                <string>{7,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,138},{162,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1220},{164,204}}</string>
                <key>offset</key>
                <string>{1,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,101},{164,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,982},{166,190}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,110},{166,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,848},{184,210}}</string>
                <key>offset</key>
                <string>{-31,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,67},{184,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,790},{164,220}}</string>
                <key>offset</key>
                <string>{6,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,78},{164,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1784},{146,178}}</string>
                <key>offset</key>
                <string>{7,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,116},{146,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1606},{168,178}}</string>
                <key>offset</key>
                <string>{10,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,116},{168,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1272},{184,176}}</string>
                <key>offset</key>
                <string>{14,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,118},{184,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1784},{156,178}}</string>
                <key>offset</key>
                <string>{13,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,116},{156,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1780},{162,174}}</string>
                <key>offset</key>
                <string>{-2,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,106},{162,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1606},{174,170}}</string>
                <key>offset</key>
                <string>{-4,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,111},{174,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1202},{186,170}}</string>
                <key>offset</key>
                <string>{-8,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,108},{186,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1384},{184,172}}</string>
                <key>offset</key>
                <string>{-6,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,108},{184,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,680},{214,168}}</string>
                <key>offset</key>
                <string>{-15,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,137},{214,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1246},{198,202}}</string>
                <key>offset</key>
                <string>{-20,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,93},{198,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,848},{198,214}}</string>
                <key>offset</key>
                <string>{-27,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,80},{198,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,916},{198,190}}</string>
                <key>offset</key>
                <string>{11,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,86},{198,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,712},{210,190}}</string>
                <key>offset</key>
                <string>{17,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,96},{210,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,940},{210,166}}</string>
                <key>offset</key>
                <string>{-23,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,123},{210,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1106},{204,166}}</string>
                <key>offset</key>
                <string>{-20,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,123},{204,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1032},{204,170}}</string>
                <key>offset</key>
                <string>{-20,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,123},{204,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,816},{208,166}}</string>
                <key>offset</key>
                <string>{-22,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,123},{208,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,538},{240,164}}</string>
                <key>offset</key>
                <string>{-34,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,115},{240,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,308},{220,158}}</string>
                <key>offset</key>
                <string>{-23,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,119},{220,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,528},{214,158}}</string>
                <key>offset</key>
                <string>{-19,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,117},{214,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,654},{222,162}}</string>
                <key>offset</key>
                <string>{-25,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,116},{222,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,298},{280,132}}</string>
                <key>offset</key>
                <string>{-54,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,145},{280,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,202},{310,176}}</string>
                <key>offset</key>
                <string>{-45,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,94},{310,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{318,202}}</string>
                <key>offset</key>
                <string>{-47,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,67},{318,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,292},{290,156}}</string>
                <key>offset</key>
                <string>{-3,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,113},{290,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,140},{280,170}}</string>
                <key>offset</key>
                <string>{10,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,104},{280,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{320,134}}</string>
                <key>offset</key>
                <string>{-44,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,140},{320,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,0},{314,144}}</string>
                <key>offset</key>
                <string>{-41,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,142},{314,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,140},{312,158}}</string>
                <key>offset</key>
                <string>{-40,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,139},{312,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,0},{316,140}}</string>
                <key>offset</key>
                <string>{-42,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,137},{316,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,0},{316,140}}</string>
                <key>offset</key>
                <string>{-38,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,122},{316,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,0},{308,148}}</string>
                <key>offset</key>
                <string>{-35,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,116},{308,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_3_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,0},{312,158}}</string>
                <key>offset</key>
                <string>{-35,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,107},{312,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_3_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{318,158}}</string>
                <key>offset</key>
                <string>{-39,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,104},{318,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,144},{258,164}}</string>
                <key>offset</key>
                <string>{-24,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,120},{258,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_4_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,158},{256,192}}</string>
                <key>offset</key>
                <string>{-38,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,92},{256,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_4_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,448},{258,206}}</string>
                <key>offset</key>
                <string>{-39,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,78},{258,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_4_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,378},{274,160}}</string>
                <key>offset</key>
                <string>{13,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,139},{274,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_4_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,488},{224,194}}</string>
                <key>offset</key>
                <string>{4,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,113},{224,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_4_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,308},{244,184}}</string>
                <key>offset</key>
                <string>{-40,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,100},{244,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_4_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,310},{242,178}}</string>
                <key>offset</key>
                <string>{-39,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,106},{242,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_4_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,430},{240,178}}</string>
                <key>offset</key>
                <string>{-38,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,106},{240,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_4_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,350},{242,182}}</string>
                <key>offset</key>
                <string>{-39,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,102},{242,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_4_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1046},{210,200}}</string>
                <key>offset</key>
                <string>{-20,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,79},{210,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_4_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,716},{220,200}}</string>
                <key>offset</key>
                <string>{-27,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,85},{220,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_4_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,654},{232,194}}</string>
                <key>offset</key>
                <string>{-32,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,89},{232,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_4_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,488},{230,192}}</string>
                <key>offset</key>
                <string>{-31,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,87},{230,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1084},{162,188}}</string>
                <key>offset</key>
                <string>{-9,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,102},{162,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1054},{166,210}}</string>
                <key>offset</key>
                <string>{-3,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,83},{166,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,888},{166,212}}</string>
                <key>offset</key>
                <string>{2,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,84},{166,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,902},{182,206}}</string>
                <key>offset</key>
                <string>{30,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,107},{182,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_5_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,608},{164,218}}</string>
                <key>offset</key>
                <string>{-7,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,103},{164,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_5_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,158},{146,216}}</string>
                <key>offset</key>
                <string>{-9,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,74},{146,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_5_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,772},{168,212}}</string>
                <key>offset</key>
                <string>{-12,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,78},{168,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_5_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,606},{184,208}}</string>
                <key>offset</key>
                <string>{-16,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,82},{184,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_5_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,742},{158,212}}</string>
                <key>offset</key>
                <string>{-15,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,78},{158,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_5_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,492},{162,230}}</string>
                <key>offset</key>
                <string>{1,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,57},{162,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_5_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,374},{174,232}}</string>
                <key>offset</key>
                <string>{2,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,59},{174,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_5_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,702},{186,216}}</string>
                <key>offset</key>
                <string>{7,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,71},{186,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>_5_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,532},{184,224}}</string>
                <key>offset</key>
                <string>{4,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,68},{184,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiuwei.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c78cccd90cf3d95e6f9a84d83faea41$</string>
            <key>textureFileName</key>
            <string>jiuwei.png</string>
        </dict>
    </dict>
</plist>
