<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{48,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,112}}</string>
                <key>sourceSize</key>
                <string>{48,112}</string>
            </dict>
            <key>_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{54,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,110}}</string>
                <key>sourceSize</key>
                <string>{54,110}</string>
            </dict>
            <key>_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{46,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,118}}</string>
                <key>sourceSize</key>
                <string>{46,118}</string>
            </dict>
            <key>_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{46,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,112}}</string>
                <key>sourceSize</key>
                <string>{46,112}</string>
            </dict>
            <key>_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,358},{52,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,110}}</string>
                <key>sourceSize</key>
                <string>{52,110}</string>
            </dict>
            <key>_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,118}}</string>
                <key>sourceSize</key>
                <string>{52,118}</string>
            </dict>
            <key>_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,104},{66,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,102}}</string>
                <key>sourceSize</key>
                <string>{66,102}</string>
            </dict>
            <key>_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,202},{64,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,102}}</string>
                <key>sourceSize</key>
                <string>{64,102}</string>
            </dict>
            <key>_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,122},{60,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,112}}</string>
                <key>sourceSize</key>
                <string>{60,112}</string>
            </dict>
            <key>_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{66,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,102}}</string>
                <key>sourceSize</key>
                <string>{66,102}</string>
            </dict>
            <key>_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,320},{60,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,100}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{64,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,114}}</string>
                <key>sourceSize</key>
                <string>{64,114}</string>
            </dict>
            <key>_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{82,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,98}}</string>
                <key>sourceSize</key>
                <string>{82,98}</string>
            </dict>
            <key>_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,102},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
            <key>_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,108},{66,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,102}}</string>
                <key>sourceSize</key>
                <string>{66,102}</string>
            </dict>
            <key>_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{82,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,100}}</string>
                <key>sourceSize</key>
                <string>{82,100}</string>
            </dict>
            <key>_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,216},{78,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,102}}</string>
                <key>sourceSize</key>
                <string>{78,102}</string>
            </dict>
            <key>_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,226},{72,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,104}}</string>
                <key>sourceSize</key>
                <string>{72,104}</string>
            </dict>
            <key>_4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{64,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,104}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>_4_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,208},{60,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,102}}</string>
                <key>sourceSize</key>
                <string>{60,102}</string>
            </dict>
            <key>_4_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,312},{56,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,94}}</string>
                <key>sourceSize</key>
                <string>{56,94}</string>
            </dict>
            <key>_4_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,110},{64,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,104}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>_4_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,332},{60,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,104}}</string>
                <key>sourceSize</key>
                <string>{60,104}</string>
            </dict>
            <key>_4_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,306},{56,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,94}}</string>
                <key>sourceSize</key>
                <string>{56,94}</string>
            </dict>
            <key>_5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,236},{48,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,108}}</string>
                <key>sourceSize</key>
                <string>{48,108}</string>
            </dict>
            <key>_5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{54,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,106}}</string>
                <key>sourceSize</key>
                <string>{54,106}</string>
            </dict>
            <key>_5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,106},{46,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,94}}</string>
                <key>sourceSize</key>
                <string>{46,94}</string>
            </dict>
            <key>_5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,116},{46,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,108}}</string>
                <key>sourceSize</key>
                <string>{46,108}</string>
            </dict>
            <key>_5_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,346},{52,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,106}}</string>
                <key>sourceSize</key>
                <string>{52,106}</string>
            </dict>
            <key>_5_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,208},{52,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,94}}</string>
                <key>sourceSize</key>
                <string>{52,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>person.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed02fe2f7762043f279e43cd847f9ced$</string>
            <key>textureFileName</key>
            <string>person.pvr.ccz</string>
        </dict>
    </dict>
</plist>
