<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,240},{98,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,226}}</string>
                <key>sourceSize</key>
                <string>{98,226}</string>
            </dict>
            <key>_1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,468},{110,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,220}}</string>
                <key>sourceSize</key>
                <string>{110,220}</string>
            </dict>
            <key>_1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{94,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,236}}</string>
                <key>sourceSize</key>
                <string>{94,236}</string>
            </dict>
            <key>_1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{92,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,226}}</string>
                <key>sourceSize</key>
                <string>{92,226}</string>
            </dict>
            <key>_1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,708},{104,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,222}}</string>
                <key>sourceSize</key>
                <string>{104,222}</string>
            </dict>
            <key>_1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,236}}</string>
                <key>sourceSize</key>
                <string>{106,236}</string>
            </dict>
            <key>_2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,212},{132,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,206}}</string>
                <key>sourceSize</key>
                <string>{132,206}</string>
            </dict>
            <key>_2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,412},{130,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,204}}</string>
                <key>sourceSize</key>
                <string>{130,204}</string>
            </dict>
            <key>_2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{122,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,224}}</string>
                <key>sourceSize</key>
                <string>{122,224}</string>
            </dict>
            <key>_2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,424},{134,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,206}}</string>
                <key>sourceSize</key>
                <string>{134,206}</string>
            </dict>
            <key>_2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,412},{122,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,202}}</string>
                <key>sourceSize</key>
                <string>{122,202}</string>
            </dict>
            <key>_2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{128,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,228}}</string>
                <key>sourceSize</key>
                <string>{128,228}</string>
            </dict>
            <key>_3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{166,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,196}}</string>
                <key>sourceSize</key>
                <string>{166,196}</string>
            </dict>
            <key>_3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,200},{160,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,198}}</string>
                <key>sourceSize</key>
                <string>{160,198}</string>
            </dict>
            <key>_3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,400},{134,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,204}}</string>
                <key>sourceSize</key>
                <string>{134,204}</string>
            </dict>
            <key>_3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{166,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,202}}</string>
                <key>sourceSize</key>
                <string>{166,202}</string>
            </dict>
            <key>_3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,206},{158,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,204}}</string>
                <key>sourceSize</key>
                <string>{158,204}</string>
            </dict>
            <key>_3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,214},{144,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,208}}</string>
                <key>sourceSize</key>
                <string>{144,208}</string>
            </dict>
            <key>_4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{130,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,208}}</string>
                <key>sourceSize</key>
                <string>{130,208}</string>
            </dict>
            <key>_4_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{120,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,206}}</string>
                <key>sourceSize</key>
                <string>{120,206}</string>
            </dict>
            <key>_4_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,616},{112,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,190}}</string>
                <key>sourceSize</key>
                <string>{112,190}</string>
            </dict>
            <key>_4_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,666},{130,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,210}}</string>
                <key>sourceSize</key>
                <string>{130,210}</string>
            </dict>
            <key>_4_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{122,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,210}}</string>
                <key>sourceSize</key>
                <string>{122,210}</string>
            </dict>
            <key>_4_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,606},{114,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,190}}</string>
                <key>sourceSize</key>
                <string>{114,190}</string>
            </dict>
            <key>_5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,230},{98,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,218}}</string>
                <key>sourceSize</key>
                <string>{98,218}</string>
            </dict>
            <key>_5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,690},{110,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,214}}</string>
                <key>sourceSize</key>
                <string>{110,214}</string>
            </dict>
            <key>_5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,210},{94,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,188}}</string>
                <key>sourceSize</key>
                <string>{94,188}</string>
            </dict>
            <key>_5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{92,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,216}}</string>
                <key>sourceSize</key>
                <string>{92,216}</string>
            </dict>
            <key>_5_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,450},{104,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,214}}</string>
                <key>sourceSize</key>
                <string>{104,214}</string>
            </dict>
            <key>_5_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,808},{106,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,188}}</string>
                <key>sourceSize</key>
                <string>{106,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>person-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4616d6a2566cdb7f68fad991bc149c0$</string>
            <key>textureFileName</key>
            <string>person-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
